<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>footer!</p>
<div class="row">
    <div class="col-sm-4">about<i class="fas fa-house-damage">flower of love</i></div>
    <div class="col-sm-4">contact<i class="fas fa-mobile-alt">9673543261</i></div>
    <div class="col-sm-4">media : 
        <br>
        <i class="fab fa-facebook"> facebook</i>
        <br>
        <i class="fab fa-instagram-square">instagram</i>

        <br>
        <i class="fab fa-whatsapp-square">whatsup</i>
    </div>
</div>
</body>
</html>
