
<h1>
    <p>cart works!</p>

    No.of items : <label for="no">numbers</label>
    <input type="number" name="items" id="No"  >

    <br>
    No.of cancellations : <label for="no">numbers</label>
    <input type="number" name="items" id="No"  >

    <br>
    no.of flowers : <label for="no">numbers</label>
    <input type="number" name="items" id="No"  >
    <br>
    <h2>
    <button type="submit">ok</button>
    <button type="submit">reset</button>
    <button type="submit">cancel</button>
</h2>
</h1>
